---
---

$background-color: #EEF9FF;
$border-color: #CCDCE6;
$breakpoint-medium: 768px;
$breakpoint-small: 425px;
$breakpoint-footer: 920px;
$button-active-color: #E6475A;
$button-color: #FF4F64;
$graph-color: rgba(191, 237, 245, 0.5);
$loading-color-light: rgba(191, 237, 245, 0.5);
$loading-color-dark: rgb(191, 237, 245);
$alert-color: rgb(221, 17, 68);
$success-color: rgb(15, 142, 15);
$icon-color: #9AA7B4;
$link-active-color: #00B1CE;
$link-color: #00C5E5;
$primary-color: #FF4F64;
$secondary-color: #00C5E5;
$text-color: #415659;
$text-muted: #777;

@import "code.scss";
@import "dashboard.scss";
@import "form.scss";
@import "helpers.scss";
@import "homepage.scss";
@import "layouts.scss";
@import "header.scss";
@import "footer.scss";
@import "signup.scss";
@import "stats.scss";
@import "typography.scss";

.text-light {
  font-weight: 100;
}

ul.related-posts {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    margin: 0;
  }
}

.tweet img {
  max-width: 100%;
  width: 400px;
}

.mini-avatar {
  width: 30px;
  height: 30px;
  vertical-align: bottom;
  border-radius: 50%;
  margin: 0 5px;
}

.page {
  img {
    max-width: 100%;
    margin: 2rem auto;
    display: block;

    &.limit-height {
      max-height: 300px;
    }

    &.mini-avatar {
      display: unset;
      margin: unset;
    }
  }
}
