---
layout: default
---

<h1>How we run Simple Analytics</h1>

<form data-js="subscribe" class="subscribe">
  <h3>Subscribe to our privacy newsletter</h3>
  <p>It's short, sweet, and insightful.</p>
  <p class="response" style="display: none">Thank you, keep you posted ;)</p>
  <p class="mb-0">
    <input name="email" placeholder="Your email..." type="email" />
    <input class="button" value="Try it" type="submit" />
  </p>
</form>

<div class="related">
  <ul class="related-posts">
    {% for post in site.posts limit:100 %}
    <li>
      <h2>
        <a href="{{ post.url }}">
          {{ post.title }}{% if post.badge %}<span class="title-badge"
            >{{ post.badge }}</span
          >{% endif %}
        </a>
        <p>
          <span class="text-muted"
            >{{ post.date | date_to_string: "ordinal", "US" }} by {{ post.author }}</span
          >
          - {{ post.excerpt | strip_html | replace: '
        </p>
        ', '' | replace: '
        <p>
          ', '' }}
          <a href="{{ post.url }}">Read more</a>
        </p>
      </h2>
    </li>
    {% endfor %}
  </ul>
</div>

<form data-js="subscribe" class="subscribe mt-3">
  <h3>Subscribe to our privacy newsletter</h3>
  <p>It's short, sweet, and insightful.</p>
  <p class="response" style="display: none">Thank you, keep you posted ;)</p>
  <p class="mb-0">
    <input name="email" placeholder="Your email..." type="email" />
    <input class="button" value="Try it" type="submit" />
  </p>
</form>
