---
layout: default
---

{% assign posts = site.posts | where_exp:"post","post.draft == false" %}

<h1>How we run Simple Analytics</h1>

{% include subscribe.html %}

<div class="related">
  <ul class="related-posts">
    {% for post in posts limit:100 %} {% if post.lang == null or post.lang ==
    'en' %}
    <li>
      <h2>
        <a href="{{ post.url }}">
          {{ post.title }}{% if post.badge %}<span
            class="title-badge"
            data-badge="{{ post.badge | downcase }}"
            >{{ post.badge }}</span
          >{% endif %}
        </a>
        <p>
          <span class="text-muted"
            >{{ post.date | date_to_string: "ordinal", "US" }} by {{ post.author
            }}</span
          >
          - {{ post.excerpt | strip_html | replace: '"', '&quot;' | replace: '
        </p>
        ', '' | replace: '
        <p>
          ', '' }}
          <a href="{{ post.url }}">Read more</a>
        </p>
        {% if post.nl %}
        <p class="mt-0">
          <img
            src="https://assets.simpleanalytics.com/images/flags/NL.svg"
            alt="Dutch flag"
            style="
              all: unset;
              height: 20px;
              vertical-align: sub;
              margin-right: 5px;
            "
          />
          This post is available <a href="{{ post.nl }}">in Dutch</a>
        </p>
        {% endif %}
      </h2>
    </li>
    {% endif %} {% endfor %}
  </ul>
</div>

<div class="mt-3">{% include subscribe.html %}</div>
