---
layout: default
---

{% assign posts = site.posts | where_exp:"post","post.hidden == null" %}

<h1>How we run Simple Analytics</h1>

{% include subscribe.html %}

<div class="related">
  <ul class="related-posts">
    {% for post in posts limit:100 %}
    <li>
      <h2>
        <a href="{{ post.url }}">
          {{ post.title }}{% if post.badge %}<span
            class="title-badge"
            data-badge="{{ post.badge | downcase }}"
            >{{ post.badge }}</span
          >{% endif %}
        </a>
        <p>
          <span class="text-muted"
            >{{ post.date | date_to_string: "ordinal", "US" }} by {{ post.author
            }}</span
          >
          - {{ post.excerpt | strip_html | replace: '"', '&quot;' | replace: '
        </p>
        ', '' | replace: '
        <p>
          ', '' }}
          <a href="{{ post.url }}">Read more</a>
        </p>
      </h2>
    </li>
    {% endfor %}
  </ul>
</div>

<div class="mt-3">{% include subscribe.html %}</div>
