<div
  class="gif{% if include.align %} align-{{ include.align }}{% endif %}"
  style="{% if include.width and include.height %} aspect-ratio: {{ include.width }} / {{ include.height }};{% endif %}{% if include.color %} --background-color: {{ include.color }};{% endif %}"
>
  <img
    src="https://assets.simpleanalytics.com/gifs/{{ include.slug }}.jpg"
    alt="{{ include.alt }} (static)"
    loading="lazy"
    style="{% if include.width and include.height %}aspect-ratio: {{ include.width }} / {{ include.height }};{% endif %}"
  />

  <details>
    <summary role="button" aria-label="static image"></summary>
    <img
      src="https://assets.simpleanalytics.com/gifs/{{ include.slug }}.webp"
      onerror="this.onerror = null; this.src='https://assets.simpleanalytics.com/gifs/{{ include.slug }}.gif';"
      alt="{{ include.alt }} (animated)"
      loading="lazy"
      style="{% if include.width and include.height %}aspect-ratio: {{ include.width }} / {{ include.height }};{% endif %}"
    />
  </details>

  <p class="loading">Loading GIF...</p>
</div>
