<form data-js="subscribe" class="subscribe">
  <h3>Subscribe to our privacy newsletter</h3>
  <p>It's short, sweet, and insightful.</p>
  <p class="response" style="display: none">Thank you, keep you posted ;)</p>
  <p class="mb-0">
    <input name="email" placeholder="Your email..." type="email" />
    <input class="button" value="Try it" type="submit" />
  </p>
  <div style="display: flex">
    <label class="checkbox" for="newsletter">
      <input name="newsletter" type="checkbox" id="newsletter" checked />
      <span>Newsletter</span>
      <span class="checkmark"></span>
    </label>

    <label class="ml-1 checkbox" for="notify-new-blog-posts">
      <input name="notify" type="checkbox" id="notify-new-blog-posts" checked />
      <span>Notify me of new blog posts</span>
      <span class="checkmark"></span>
    </label>
  </div>
</form>
