.signup {
  width: 700px;
  max-width: calc(100% + 3rem);
  margin: 100px auto;
  background-color: #d8f1fe;
  text-align: left;
  border: 1px solid $border-color;

  @media (max-width: $breakpoint-medium) {
    margin: 80px -1.5rem 50px;
  }

  h3 {
    font-weight: 500;
    margin-top: 0;
    font-size: 20px;
  }

  &__container {
    display: flex;
    padding: 0 2rem 3rem 2rem;

    @media (max-width: $breakpoint-medium) {
      flex-direction: column;
      padding: 1rem;
      align-items: unset;
    }

    > div {
      margin: 1rem 1rem 0 1rem;
    }
  }

  &__pay {
    flex: 1 1 300px;
    margin-top: calc(1rem + 4px) !important;

    button {
      width: 100%;
    }
  }
  &__reasons {
    flex: 1 0 auto;
  }

  &__title {
    margin: 2rem 0 0 0;
    text-align: center;
  }

  .StripeElement {
    width: 100%;
    height: 50px;
  }

  div#card-element {
    padding-top: 14px;
  }

  &__free {
    border-top: 1px solid $border-color;
    background-color: $background-color;
    padding: 1rem;

    p {
      text-align: center;
      margin: 0;
      font-size: 14px;

      a {
        color: $text-color;
        text-decoration: underline;
      }
    }
  }
}

p.stripe {
  color: $icon-color;
  font-size: 14px;
  text-align: center;
  margin-bottom: 1px;

  svg {
    width: 18px;
    height: 18px;
    vertical-align: sub;
    fill: #76e27f;
  }
}

.box--loading {
  position: relative;
}
.box--loading * {
  opacity: 0.5;
}
.box--loading::before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 8px solid $primary-color;
  border-top-color: transparent;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(359deg);
  }
}

.subscribe {
  background-color: #eef9ff;
  border-radius: 5px;
  padding: 1.5rem;

  > *:first-child {
    margin-top: 0;
    > * {
      margin-top: 0;
    }
  }
  > *:last-child {
    margin-bottom: 0;
    > * {
      margin-bottom: 0;
    }
  }
}
