h1,
h2,
h3,
h4 {
  font-family: "Space Grotesk", Arial, sans-serif;
  color: $text-color;
  margin: 2rem 0 1rem 0;
  line-height: 1.5;
  font-weight: 500;
}

h1 {
  font-size: 35px;
}
h2 {
  font-size: 25px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}

p,
button,
.button,
label,
input[type="email"],
input[type="text"],
li,
td,
th,
select,
blockquote,
summary,
img {
  font-family: "Space Grotesk", Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  text-align: center;
}
img:after {
  content: " (image didn't load)";
}

p,
label,
li,
td,
th,
select,
blockquote {
  line-height: 180%;
}

summary {
  outline: none;
  cursor: pointer;
  margin-bottom: 0.5rem;
  color: $icon-color;
}

a {
  cursor: pointer;
  color: $link-color;

  @media (hover: hover) {
    &:hover {
      color: $link-active-color;
    }
  }
}

@media (max-width: $breakpoint-medium) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  main > h1:first-of-type {
    margin-top: 0;
  }
}

@font-face {
  font-family: "Space Grotesk";
  font-weight: 300;
  src: url("https://assets.simpleanalytics.com/fonts/SpaceGrotesk-Light.woff2")
      format("woff2"),
    url("https://assets.simpleanalytics.com/fonts/SpaceGrotesk-Light.woff")
      format("woff");
}

@font-face {
  font-family: "Space Grotesk";
  font-weight: 400;
  src: url("https://assets.simpleanalytics.com/fonts/SpaceGrotesk-Regular.woff2")
      format("woff2"),
    url("https://assets.simpleanalytics.com/fonts/SpaceGrotesk-Regular.woff")
      format("woff");
}

@font-face {
  font-family: "Space Grotesk";
  font-weight: 500;
  src: url("https://assets.simpleanalytics.com/fonts/SpaceGrotesk-Medium.woff2")
      format("woff2"),
    url("https://assets.simpleanalytics.com/fonts/SpaceGrotesk-Medium.woff")
      format("woff");
}

@font-face {
  font-family: "Space Grotesk";
  font-weight: 600;
  src: url("https://assets.simpleanalytics.com/fonts/SpaceGrotesk-SemiBold.woff2")
      format("woff2"),
    url("https://assets.simpleanalytics.com/fonts/SpaceGrotesk-SemiBold.woff")
      format("woff");
}

@font-face {
  font-family: "Space Grotesk";
  font-weight: 700;
  src: url("https://assets.simpleanalytics.com/fonts/SpaceGrotesk-Bold.woff2")
      format("woff2"),
    url("https://assets.simpleanalytics.com/fonts/SpaceGrotesk-Bold.woff")
      format("woff");
}
