<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8" />

    {% include og-vars.html %}

    <title>{{ title }}</title>

    {% if page.canonical %}
    <!-- Canonical URL -->
    <link rel="canonical" href="{{ page.canonical }}" />
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- RSS -->
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Blog of Simple Analytics"
      href="/feed.xml"
    />

    {% if page.no_index == true or page.draft == true %}
    <!-- Make sure this page does not show up in search results -->
    <meta name="robots" content="noindex,nofollow" />
    {% endif %}

    <!-- Icons -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ site.favicons }}/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ site.favicons }}/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ site.favicons }}/favicon-16x16.png"
    />
    <link rel="manifest" href="{{ site.favicons }}/site.webmanifest" />
    <link
      rel="mask-icon"
      href="{{ site.favicons }}/safari-pinned-tab.svg"
      color="#FF4F64"
    />
    <meta name="msapplication-TileColor" content="#FF4F64" />
    <meta
      name="msapplication-TileImage"
      content="{{ site.favicons }}/mstile-144x144.png"
    />
    <meta name="theme-color" content="#FFFFFF" />

    <!-- Social -->
    <meta name="twitter:site" content="@SimpleAnalytic" />
    <meta name="twitter:creator" content="@AdriaanvRossum" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:title" content="{{ title }}" />
    <meta name="description" content="{{ description }}" />
    <meta name="og:description" content="{{ description }}" />

    <!-- Location in Amsterdam -->
    <meta name="og:latitude" content="52.37304233578102" />
    <meta name="og:longitude" content="4.8925307523630535" />
    <meta name="og:locality" content="Amsterdam" />
    <meta name="og:region" content="Noord-Holland" />
    <meta name="og:country-name" content="NL" />

    <!-- Languages can differ per page -->
    <meta name="language" content="{% if page.lang %}{{ page.lang | upcase }}{% else %}EN{% endif %}">

    <!-- Add social image -->
    {% if page.image %}
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="og:image"
      content="{% if page.image contains '://' %}{{ page.image }}{% else %}{{ site.url }}{{ page.image }}{% endif %}"
    />
    <meta
      name="twitter:image"
      content="{% if page.image contains '://' %}{{ page.image }}{% else %}{{ site.url }}{{ page.image }}{% endif %}"
    />
    {% else %}
    <meta name="twitter:card" content="summary" />
    <meta
      name="og:image"
      content="https://simpleanalytics.com/images/screenshot.png"
    />
    <meta
      name="twitter:image"
      content="https://simpleanalytics.com/images/screenshot.png"
    />
    {% endif %}

    <!-- Style -->
    <link
      rel="stylesheet"
      type="text/css"
      href="/app.css?v={{site.github.build_revision}}"
    />

    {% if page.disable_script != true and page.no_index != true and page.draft != true %}
    <!-- Privacy friendly website statistics -->
    <script
      async
      src="https://scripts.simpleanalyticscdn.com/latest.js"
      referrerpolicy="no-referrer"
    ></script>
    {% else %}
    <!-- Simple Analytics is disabled for this page -->
    {% endif %}
  </head>
  <body class="">
    <nav>
      <ul>
        <li>
          <a href="/" class="brand">
            <svg
              height="30px"
              width="30px"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 100 100"
              enable-background="new 0 0 100 100"
            >
              <rect x="20" y="53" width="10" height="30"></rect>
              <rect x="44" y="35" width="10" height="48"></rect>
              <rect x="68" y="18" width="10" height="65"></rect>
            </svg>
            <span>Simple Analytics <span class="text-light">Blog</span></span>
          </a>
        </li>
        <li class="menu-toggle">
          <div
            class="hamburger hamburger--collapse"
            aria-label="Menu"
            aria-controls="navigation"
          >
            <div class="hamburger-box">
              <div class="hamburger-inner"></div>
            </div>
          </div>
        </li>
        <li class="menu-item ml-a">
          <a href="https://simpleanalytics.com/?ref={{ site.hostname }}"
            >Go to Simple Analytics &rarr;</a
          >
        </li>
      </ul>
    </nav>

    {% if page.disable_script != true or page.no_index != true or page.draft != true %}
    <!-- Privacy friendly website statistics -->
    <noscript
      ><img
        src="https://queue.simpleanalyticscdn.com/noscript.gif"
        referrerpolicy="unsafe-url"
        alt=""
    /></noscript>
    {% else %}
    <!-- Simple Analytics is disabled for this page -->
    {% endif %}

    <script>
      NodeList.prototype.forEach = Array.prototype.forEach;
      HTMLCollection.prototype.forEach = Array.prototype.forEach;
    </script>

    <main>
      <section class="page {% if page.center %}page-center{% endif %}">
        {{content}}
      </section>
    </main>

    <footer class="general">
      <div class="intro">
        <h1>
          <a
            href="https://simpleanalytics.com/?ref={{ site.hostname }}"
            class="brand"
          >
            <svg
              style="width: 30px; height: 30px"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              version="1.0"
              x="0px"
              y="0px"
              viewBox="0 0 100 100"
              enable-background="new 0 0 100 100"
              xml:space="preserve"
            >
              <rect fill="#FF4F64" x="20" y="53" width="10" height="30"></rect>
              <rect fill="#FF4F64" x="44" y="35" width="10" height="48"></rect>
              <rect fill="#FF4F64" x="68" y="18" width="10" height="65"></rect>
            </svg>
            Simple Analytics
          </a>
        </h1>
        <h2>Simple, clean, privacy-friendly analytics</h2>
        <p>
          We care about your data. We will never sell it, our servers are
          located in The Netherlands, and your data is always encrypted –
          <a href="https://twitter.com/intent/user?screen_name=SimpleAnalytic"
            >follow us on Twitter</a
          >
        </p>
      </div>

      <div class="link-container">
        <div>
          <h3>Privacy</h3>
          <ul>
            <li>
              <a
                href="https://docs.simpleanalytics.com/what-we-collect?ref={{ site.hostname }}"
                >What we collect</a
              >
            </li>
            <li>
              <a
                href="https://simpleanalytics.com/privacy?ref={{ site.hostname }}"
                >Privacy Policy</a
              >
            </li>
            <li>
              <a
                href="https://simpleanalytics.com/terms-of-service?ref={{ site.hostname }}"
                >Terms of Service</a
              >
            </li>
          </ul>
        </div>

        <div>
          <h3>Product</h3>
          <ul>
            <li>
              <a
                href="https://simpleanalytics.com/?ref={{ site.hostname }}#signup"
                >Pricing</a
              >
            </li>
            <li>
              <a
                href="https://simpleanalytics.com/roadmap?ref={{ site.hostname }}"
                >Roadmap</a
              >
            </li>
          </ul>
        </div>

        <div class="flex-tablet-devider"></div>

        <div>
          <h3>Learn</h3>
          <ul>
            <li>
              <a
                href="https://docs.simpleanalytics.com/?ref={{ site.hostname }}"
                >Documentation</a
              >
            </li>
            <li><a href="/">Blog</a></li>
            <li>
              <a href="https://simpleanalytics.com/team?ref={{ site.hostname }}"
                >Team</a
              >
            </li>
          </ul>
        </div>

        <div>
          <h3>Contact</h3>
          <ul>
            <li>
              <a
                href="https://simpleanalytics.com/contact?ref={{ site.hostname }}"
                >Email address</a
              >
            </li>
            <li>
              <a
                href="https://simpleanalytics.com/contact?ref={{ site.hostname }}"
                >Contact form</a
              >
            </li>
            <li>
              <a
                href="https://twitter.com/intent/user?screen_name=SimpleAnalytic"
                >Twitter</a
              >
            </li>
          </ul>
        </div>
      </div>
    </footer>

    <div class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>

        <p style="max-width: 500px; margin: 0 auto">
          <img
            src="https://assets.simpleanalytics.com/images/people/adriaan.jpg"
            class="modal-avatar"
          />
          Hey, my name is Adriaan, I'm the founder of Simple Analytics. About
          once a month I share insights and privacy updates in our privacy
          newsletter.
        </p>

        <div class="mt-1 ta-c">{% include subscribe.html %}</div>
      </div>
    </div>

    <script>
      (function initModal() {
        var showAfterSeconds = 20;
        var disabled = window.localStorage.getItem("show_modal");
        if (disabled || "{{ page.subscribe }}" === "false") return;

        var start = Date.now();
        var modal = document.querySelector(".modal");

        if (!modal) return;

        var show = function () {
          modal.style.display = "block";
          document.body.addEventListener("keydown", onkeydown);
          document.body.removeEventListener("mouseleave", onmouseleave);
        };

        var hide = function () {
          modal.style.display = "none";
          document.body.removeEventListener("keydown", onkeydown);
          window.localStorage.setItem("show_modal", "false");
        };

        var onmouseleave = function (event) {
          var duration = Date.now() - start;
          if (
            event.clientY < 10 &&
            event.clientX > 150 &&
            duration > showAfterSeconds * 1000
          )
            show();
        };

        var onkeydown = function (event) {
          var isEscape = false;
          if ("key" in event) {
            isEscape = event.key === "Escape" || event.key === "Esc";
          } else {
            isEscape = event.keyCode === 27;
          }
          if (isEscape) hide();
        };

        if (window.innerWidth >= 1024) {
          document.body.addEventListener("mouseleave", onmouseleave);
        } else {
          setTimeout(show, 60000);
        }

        // Get the <span> element that closes the modal
        var span = modal.querySelector(".close");

        // When the user clicks on <span> (x), close the modal
        if (span) span.onclick = hide;

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
          if (event.target == modal) hide();
        };
      })();
    </script>

    <script>
      document.querySelector(".hamburger").addEventListener(
        "click",
        function (event) {
          event.target.closest("nav").classList.toggle("is-active");
        },
        false
      );

      document
        .querySelectorAll('form[data-js="subscribe"]')
        .forEach(function (subscribeForm) {
          subscribeForm.addEventListener("submit", function (event) {
            // Don't do anything, browser!
            event.preventDefault();

            // Get email
            var email = subscribeForm.querySelector('input[name="email"]');
            var newsletterElement = subscribeForm.querySelector(
              'input[name="newsletter"]'
            );
            var notifyElement = subscribeForm.querySelector(
              'input[name="notify"]'
            );
            var responseField = subscribeForm.querySelector(".response");
            responseField.style.color = "unset";
            responseField.textContent = "";

            if (!/[^@\s]+@[^@\s]+\.[^@\s]+/.test(email.value)) {
              responseField.textContent = "Oops! Email address is invalid :(";
              responseField.style.color = "#ff4f64";
              responseField.style.display = "block";
              return;
            }

            var newsletter = newsletterElement && newsletterElement.checked;
            var notify = notifyElement && notifyElement.checked;

            if (!newsletter && !notify) {
              responseField.textContent =
                "Select at least one of the two checkboxes";
              responseField.style.color = "#ff4f64";
              responseField.style.display = "block";
              return;
            }

            var type =
              newsletter && notify
                ? "newsletter,notify"
                : newsletter
                ? "newsletter"
                : notify
                ? "notify"
                : null;

            var request = new XMLHttpRequest();
            request.open("POST", "{{ site.api }}/subscribe", true);
            request.setRequestHeader(
              "Content-Type",
              "text/plain; charset=UTF-8"
            );
            request.send(
              JSON.stringify({ email: email.value.trim(), type: type })
            );
            request.onreadystatechange = function () {
              if (request.readyState === 4) {
                try {
                  var json = JSON.parse(request.responseText);
                  if (!json.ok) {
                    responseField.textContent =
                      json.message || "Oops, something goes wrong (1).";
                    responseField.style.color = "#ff4f64";
                  } else {
                    responseField.textContent = "One moment...";
                    responseField.style.color = "green";
                    window.location.href = "/thank-you";
                    return;
                  }
                } catch (error) {
                  console.error(error);
                  responseField.textContent = "Oops, something goes wrong (2).";
                  responseField.style.color = "#ff4f64";
                } finally {
                  responseField.style.display = "block";
                }
              }
            };
          });
        });
    </script>
    <script>
      (function () {
        document.getElementsByTagName("table").forEach(function (table) {
          var newTable = table.cloneNode(true);
          var div = document.createElement("div");
          div.className = "table-wrapper";
          div.appendChild(newTable);
          table.parentElement.replaceChild(div, table);
        });
      })();
    </script>
    <script>
      (function () {
        document.addEventListener("DOMContentLoaded", () => {
          document.getElementsByTagName("video").forEach((video) => {
            const container = video.parentElement;
            container.classList.add("paused");
            video.addEventListener("play", () => {
              container.classList.remove("paused");
            });
            video.addEventListener("pause", () => {
              container.classList.add("paused");
            });
            video.addEventListener("click", (event) => {
              event.preventDefault();
              if (video.paused) video.play();
              else video.pause();
            });
          });
        });
      })();
    </script>
  </body>
</html>
