---
layout: default
---

<h1 class="post-title">{{ page.title }}</h1>
<p class="post-date">{{ page.date | date_to_string }} - <a href="https://github.com/simpleanalytics/blog.simpleanalytics.io/blob/master/{{ page.path }}">Help improve this post</a></p>

{{ content }}

{% if page.author %}
  <p>Guest post by <img class="mini-avatar" src="/images/avatars/mike.jpg" alt=""> {{ page.author }} (<a href="http://80days.in/?ref=simpleanalytics.io">80days.in</a>)</p>
{% else %}
  <p>Written by <img class="mini-avatar" src="/images/avatars/adriaan.jpg" alt=""> Adriaan van Rossum (<a href="https://twitter.com/intent/user?screen_name=harianus">follow on Twitter</a>)</p>
{% endif %}

<form class="subscribe m-t-3">
  <h3>Email me your next post</h3>
  <p class="response" style="display: none;">Thank you, keep you posted ;)</p>
  <p class="m-b-0">
    <input name="email" placeholder="Enter email..." type="email">
    <input class="button" value="Send" type="submit">
  </p>
</form>

<p class="text-small text-muted">Found a mistake or a typo? Please <a href="https://github.com/simpleanalytics/blog.simpleanalytics.io/blob/master/{{ page.path }}">submit a PR</a> to my GitHub-repo.</p>
