---
layout: default
---

<h1 class="post-title">
  {% if page.draft == true %}<span style="color: #e51800">Draft:</span> {% endif
  %}{{ page.title }}
</h1>
<p class="post-date">
  {{ page.date | date_to_string: "ordinal", "US" }} - {{ page.author }} -
  <a href="https://github.com/simpleanalytics/blog/blob/master/{{ page.path }}"
    >Fix typo</a
  >
  {% include languages.html location="inline" %}
</p>

{% if page.draft == true %}
<blockquote role="alert" markdown="1">
  This blog post is a draft. Please don't share it, yet. It's invisible to
  search engines.
</blockquote>
{% endif %} {{ content | replace: '
<p><img ', '<img ' | replace: '" /></p>
', '" />' | replace: '<img ', '<img loading="lazy" ' }}

<span></span>

{% if page.author_slug == "mike" %}
<p class="mt-2">
  Guest post by
  <img
    loading="lazy"
    class="mini-avatar"
    src="/images/avatars/mike.jpg"
    referrerpolicy="no-referrer"
    alt="Mike Timofiiv"
  />
  {{ page.author }} (<a href="http://80days.in/?ref={{ site.hostname }}"
    >80days.in</a
  >)
</p>
{% elsif page.author_slug == "jules" %}
<p class="mt-2">
  Guest post by
  <img
    loading="lazy"
    class="mini-avatar"
    src="/images/avatars/jules-van-den-berg.jpg"
    referrerpolicy="no-referrer"
    alt="Jules van den Berg"
  />
  {{ page.author }} (<a href="https://www.maxcode.net/?ref={{ site.hostname }}"
    >maxcode.net</a
  >,
  <a
    rel="noreferrer"
    href="https://www.linkedin.com/in/jules-van-den-berg-6a533a/?ref={{ site.hostname }}"
    >LinkedIn</a
  >)
</p>
{% elsif page.author_slug == "onur" %}
<p class="mt-2">
  Written by
  <img
    loading="lazy"
    class="mini-avatar"
    src="https://assets.simpleanalytics.com/images/people/onur-genes.jpg"
    referrerpolicy="no-referrer"
    alt="Onur Genes"
  />
  Onur Genes (<a
    rel="noreferrer"
    href="https://twitter.com/intent/user?screen_name=onurgenes"
    >follow Onur on Twitter</a
  >)
</p>
{% elsif page.author_slug == "tim" %}
<p class="mt-2">
  Written by
  <img
    loading="lazy"
    class="mini-avatar"
    src="https://assets.simpleanalytics.com/images/people/tim-de-nood.jpg"
    referrerpolicy="no-referrer"
    alt="Tim de Nood"
  />
  Tim de Nood (<a rel="noreferrer" href="https://www.linkedin.com/in/timdenood/"
    >follow Tim on LinkedIn</a
  >)
</p>
{% elsif page.author_slug == "iron" %}
<p class="mt-2">
  Written by
  <img
    loading="lazy"
    class="mini-avatar"
    src="https://assets.simpleanalytics.com/images/people/iron.jpg"
    referrerpolicy="no-referrer"
    alt="Iron Brands"
  />
  Iron Brands (<a
    rel="noreferrer"
    href="https://www.linkedin.com/in/ironbrands/"
    >follow Iron on LinkedIn</a
  >)
</p>
{% else %}
<p class="mt-2">
  Written by founder
  <img
    loading="lazy"
    class="mini-avatar"
    src="https://assets.simpleanalytics.com/images/people/adriaan.jpg"
    referrerpolicy="no-referrer"
    alt="Adriaan van Rossum"
  />
  Adriaan van Rossum (follow on
  <a
    rel="noreferrer"
    href="https://twitter.com/intent/user?screen_name=adriaanvrossum"
    >Twitter</a
  >
  or
  <a rel="noreferrer" href="https://www.linkedin.com/in/adriaanvanrossum/"
    >LinkedIn</a
  >)
</p>
{% endif %} {% if page.call_to_actions == true or page.call_to_actions == null
%}
<p class="mt-2">
  Want to give Simple Analytics a try?
  <a
    href="https://simpleanalytics.com/"
    class="button"
    style="vertical-align: initial; margin-left: 1rem"
    >Start a trial of 14 days for free</a
  >
</p>

<div class="mt-3">{% include subscribe.html %}</div>

<p class="text-small text-muted">
  Found a mistake or a typo? Please
  <a
    rel="noreferrer"
    href="https://github.com/simpleanalytics/blog/blob/master/{{ page.path }}"
    >submit a PR</a
  >
  to my GitHub-repo.
</p>

<p>
  <a
    href="https://simpleanalytics.com/blog.simpleanalytics.com?utm_source=blog.simpleanalytics.com&utm_content=badge"
    referrerpolicy="origin"
    target="_blank"
    ><img
      style="margin: 2rem 0"
      src="https://simpleanalyticsbadge.com/blog.simpleanalytics.com?background=eef9ff&text=415659"
      loading="lazy"
      referrerpolicy="no-referrer"
      crossorigin="anonymous"
  /></a>
</p>
{% endif %}

<script>
  (function addLinksToHeadings() {
    var anchorForId = function (id) {
      var anchor = document.createElement("a");
      anchor.className = "anchor-link";
      anchor.href = "#" + id;
      anchor.innerHTML = " #";
      return anchor;
    };

    document
      .querySelectorAll("h1[id], h2[id], h3[id], h4[id], h5[id], h6[id]")
      .forEach(function (header) {
        if (header.getAttribute("id") !== "") {
          header.appendChild(anchorForId(header.id));
        }
      });
  })();

  (function addTargetBlank() {
    var anchors = document.getElementsByTagName("a");
    for (var i = 0; i < anchors.length; i++) {
      if (anchors[i].hostname !== window.location.hostname) {
        anchors[i].setAttribute("target", "_blank");
        anchors[i].setAttribute("rel", "noopener");
      }
    }
  })();
</script>
